
body{
   background-color: black;
   background-size: cover;
}
   
h1{
   color: #C70039;
}
   
h2{
   color: steelblue;
}

h3{
   color: honeydew;
}
   
p {
   font-size: 1.2em;
   color: honeydew;
}

li {
   color: honeydew;
}
   
.blurred{
   text-align: center;
   display: block;
   margin: auto;
}

.list{
   background-color:rgba(0, 0, 100, 0.4);
   border: 4px solid rgba(0, 0, 100, 0.4);
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 15px;
}

.list_item{
   background-color:rgba(0, 0, 0, 0.4);
   border: 4px solid black;
   padding: 5px;
   width: 330px;
   margin: 15px;
}

#glasses{
   border: 4px ridge gray;
   float: top;
}

#info{
   background-color:rgba(0, 0, 100, 0.4);
   border: 4px solid rgba(0, 0, 100, 0.4);
   padding: 15px;
}